<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Document</title>
  </head>
  <body id="about-body" class="container">
    <h1>Yoko Honda</h1>
    <p>
      Yoko Honda is a contemporary Japanese illustrator. She lives in Tokyo. Her
      illustrations drink from the aesthetics of the 80s yet still manage to be nostalgic rather than dated.

      As well as published books her designs have been used on a variety of items ranging from jigsaw puzzles to bomber jackets.
    </p>
    <div class="aboutImg">
      <img src="https://www.puzzlemania.net/pics/normal/puzzle-poolside-cloudberries-1000-piezas-33010_0000033010.jpg" alt="poolside jigsaw" height="400px" width="400px">
      <img src="https://www.avcesar.com/source/actualites/00/00/48/6C/the-screen-jacket-levono-et-pantheone-unis-pour-le-streetwear-high-tech_124337_124337.jpg" alt="screen jacket" height="400px" width="400px">
    </div>
    <br>
    <br>
    <div class="links">
      <a href="/home">HOME</a>
      <br>
      <a href="/works">WORKS</a>
    </div>
  </body>
</html>
