<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Document</title>
  </head>
  <body id="home-body" class="container">
    <h1>Lab Express Basic Site - Yoko Honda</h1>
    <p>
      Welcome to the homepage of my Express basic website. <br />
      This is to show what we've learnt in class, to run a basic server, as well
      as show a few of my Zoom backgrounds courtesy of the wonderful illustrator, Yoko Honda.
    </p>
    <div class="links">
      <a href="/about">ABOUT</a>
      <br>
      <a href="/works">WORKS</a>
    </div>
  </body>
</html>
