<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Document</title>
  </head>
  <body id="works-body" class="container">
    <h1>SELECTED WORKS</h1>
    <br>
</div>
  <div>
    <img src="../images/80s.jpeg" alt="80s" width="500">
    <p>Pure 80s delight</p>
    <br>
    <img src="../images/pool.jpeg" alt="pool" width="500">
    <p>At the pool</p>
    <br>
    <img src="../images/purple.jpeg" alt="purple" width="500">
    <p>A personal favourite</p>
    <br>
    <img src="../images/clouds.jpeg" alt="clouds" width="500">
    <p>For when you've got your head in the clouds</p>
    <br>
    <img src="../images/darkPalm.jpeg" alt="palms" width="500">
    <p>A classic sunset</p>
    <br>
    <img src="../images/pyramids.jpeg" alt="pyramids" width="500">
    <p>Not your typical Outrun</p>
    <br>
  </div>
    <br>
      <div class="links2">
      <a href="/home">HOME</a>
      <br>
      <a href="/about">ABOUT</a>
    </div>
  </body>
</html>
